.checkbox-example {
  .or-btn {
    margin-top: 30px;
  }
}

.checkbox-group-example {
  .or-checkbox-group + .or-checkbox-group {
    margin-top: 30px;
  }
}

.checkbox-group-button {
  .or-checkbox-button {
    width: 120px;
  }
}

.or-btn {
  margin-top: 30px;
  margin-bottom: 50px;
}
