@import "~or-theme";

.or-checkbox-group {
  display: flex;
  font-family: $font-family;
}

.or-checkbox-group-horizontal {
  flex-direction: row;

  .or-checkbox + .or-checkbox {
    margin-left: 15px;
  }
}

.or-checkbox-group-vertical {
  flex-direction: column;

  .or-checkbox + .or-checkbox {
    margin-top: 10px;
  }
}

.or-checkbox {
  display: flex;
  align-items: center;
  font-family: $font-family;
  cursor: pointer;
}

.or-checkbox-button {
  min-width: 60px;

  .or-checkbox-button-content {
    display: inline-block;
    width: 100%;
    padding: 10px 30px;
    background-color: $white;
    color: $primary-color;
    border-style: solid;
    border-width: 1px;
    border-color: $primary-color;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;

  }
  &.or-checkbox-checked {
    .or-checkbox-button-content {
      background-color: $primary-color;
      color: $white;
      border-color: $primary-color;
    }
  }
}

.or-checkbox-normal {
  &:hover {
    .or-checkbox-icon {
      border-color: $primary-color;
    }
  }

  &.or-checkbox-checked {
    .or-checkbox-icon {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  .or-checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-color: $white;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: $gray3;
    transition: background .25s ease-in-out;
  }
}
