@import "~or-theme";

.#{$prefix}-checkbox-group {
  display: flex;
  font-family: $font-family;

  &.or-checkbox-group-horizontal {
    flex-direction: row;
    .#{$prefix}-checkbox + .#{$prefix}-checkbox {
      margin-left: 15px;
    }
  }

  &.or-checkbox-group-vertical {
    flex-direction: column;

    .#{$prefix}-checkbox + .#{$prefix}-checkbox {
      margin-top: 10px;
    }
  }

  &.or-checkbox-button-group {
    .or-checkbox {
      .checkbox-icon {
        display: none;
      }

      .or-checkbox-content {
        width: 80px;
        line-height: 38px;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-color: $gray4;
        border-radius: $btn-border-radius;
        color: $gray5;

        &:hover {
          color: $primary-color;
          border-color: $primary-color;
        }

      }

      &.or-checkbox-checked {
        .or-checkbox-content {
          background-color: $primary-color;
          color: $white;
          border-color: $primary-color;
        }
      }
    }
  }

}

.#{$prefix}-checkbox {
  display: flex;
  align-items: center;
  font-family: $font-family;
  cursor: pointer;

  &:hover {
    .checkbox-icon {
      border-color: $primary-color;
    }
  }

  &.or-checkbox-checked {
    .checkbox-icon {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  .checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-color: $white;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: $gray3;
    transition: background .25s ease-in-out;
  }
}
