@import "~or-theme";

$or-checkbox-primary-color: $or-primary-color !default;

$or-checkbox-button-padding: $or-gap $or-gap * 3 !default;

$or-checkbox-border-radius: $or-border-radius-sm !default;
$or-checkbox-border-width: $or-border-width !default;

.or-checkbox-group {
  display: flex;
  font-family: $or-font-family;
}

.or-checkbox-group-horizontal {
  flex-direction: row;

  .or-checkbox + .or-checkbox {
    margin-left: 15px;
  }
}

.or-checkbox-group-vertical {
  flex-direction: column;

  .or-checkbox + .or-checkbox {
    margin-top: 10px;
  }
}

.or-checkbox {
  display: flex;
  align-items: center;
  font-family: $or-font-family;
  cursor: pointer;
}

.or-checkbox-button {
  min-width: 60px;

  .or-checkbox-button-content {
    display: inline-block;
    width: 100%;
    padding: $or-checkbox-button-padding;
    background-color: white;
    color: $or-checkbox-primary-color;
    border-style: solid;
    border-width: $or-checkbox-border-width;
    border-color: $or-checkbox-primary-color;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;

  }
  &.or-checkbox-checked {
    .or-checkbox-button-content {
      background-color: $or-checkbox-primary-color;
      color: white;
      border-color: $or-checkbox-primary-color;
    }
  }
}

.or-checkbox-normal {
  &:hover {
    .or-checkbox-icon {
      border-color: $or-checkbox-primary-color;
    }
  }

  &.or-checkbox-checked {
    .or-checkbox-icon {
      background-color: $or-checkbox-primary-color;
      border-color: $or-checkbox-primary-color;
    }
  }

  .or-checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-color: white;
    border-radius: $or-checkbox-border-radius;
    border-style: solid;
    border-width: $or-checkbox-border-width;
    border-color: $or-gray3;
    transition: background .25s ease-in-out;
  }
}
